@using AccessoriesApp.Web.ViewModels
@model AccessoriesDetailsViewModel



@{
    ViewData["Title"] = Model.Title + " details";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2 class="text-muted fw-bold">@ViewData["Title"]</h2>
</div>
<hr />

<div class="card mb-3 w-100" >
<div class="row justify-content-center" >
    <div class="col-md-4 text-center">
        @if (Model.Image != null)
        {
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" class="img-fluid w-100 h-100 object-fit-cover" alt="@Model.Title" />
        }
        else
        {
                <img src="~/images/default-image.jpg" class="img-fluid" style="img-fluid w-100 h-100 object-fit-scale" alt="No Image Available" />
        }
    </div>

    <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <hr />
            <p class="card-text">@Model.Description</p>
            <hr />
            <p class="card-text"><small class="text-muted">Category: @Model.CategoryName</small></p>
            <p class="card-text"><small class="text-muted">Created On: @Model.ReleaseDate.ToString("yyyy-MM-dd")</small></p>
            <p class="card-text"><small class="text-muted">Author: @Model.PriceBGN</small></p>
            <p class="card-text"><small class="text-muted">Author: @Model.AuthorUserName</small></p>
            <hr />
        </div>
        <div class="card-footer text-center">
            <div class="d-flex justify-content-between align-items-center">
                
                @if (User?.Identity?.IsAuthenticated == true && !Model.IsAuthor)
                {                       

                        if (!Model.IsSaved)
                            {
                            <form asp-controller="Favorites" asp-action="Save" method="post" class="me-2 text-nowrap">
                                <input type="hidden" name="id" value="@Model.Id" />
                                <button type="submit" class="btn btn-outline-secondary" title="Add to Favorites">
                                    <!--
                                    <i class="fas fa-heart"></i> Add to Favorites
                                    -->
                                    <i class="fa-regular fa-heart"></i>
                                </button>
                                </form>
                            }
                            else
                            {
                              <form asp-controller="Favorites" asp-action="Remove" method="post" class="me-2 text-nowrap">
                                <input type="hidden" name="id" value="@Model.Id" />
                                <button type="submit" class="btn btn-outline-secondary" title="Remove from Favorites">
                                    <!--
                                    <i class="fa-solid fa-square-minus"></i>Remove from Favorites
                                    -->
                                    <i class="fa-solid fa-heart" style="color: #ff0000;"></i>
                                </button>
                                </form>  
                            }


                    <a asp-controller="OrderItem" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-danger d-flex justify-content-center align-items-center flex-fill mx-1">
                            <i class="fa-solid fa-cart-shopping"></i> Аdd to Orders
                    </a>
                }
                @if (Model.IsAuthor)
                {
                    <a asp-controller="Accessories" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary d-flex justify-content-center align-items-center flex-fill mx-1">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <a asp-controller="Accessories" asp-action="MyDelete" asp-route-id="@Model.Id" class="btn btn-danger d-flex justify-content-center align-items-center flex-fill mx-1">
                        <i class="fas fa-trash"></i> Delete
                    </a>
                }
                    <button type="button" class="btn btn-warning d-flex justify-content-center align-items-center flex-fill mx-1" onclick="history.back()">
                        <i class="fas fa-arrow-left"></i> Back
                    </button>
            </div>
        </div>
    </div>

</div>
</div>
