@using AccessoriesApp.Web.ViewModels
@model AccessoriesDetailsViewModel



<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>


<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="card mb-3 w-100">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            @if (Model.Image != null)
            {
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" class="img-fluid w-100 h-100 object-fit-cover" alt="@Model.Title" />
            }
            else
            {
                <img src="~/images/default-image.jpg" class="img-fluid" style="img-fluid w-100 h-100 object-fit-scale" alt="No Image Available" />
            }
        </div>

        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <hr />
                <p class="card-text">@Model.Description</p>
                <hr />
                <p class="card-text"><small class="text-muted">Category: @Model.CategoryName</small></p>
                <p class="card-text"><small class="text-muted">Created On: @Model.ReleaseDate.ToString("dd-MM-yyyy")</small></p>
                <p class="card-text"><small class="text-muted">Author: @Model.PriceBGN</small></p>
                <p class="card-text"><small class="text-muted">Author: @Model.AuthorUserName</small></p>
                <hr />
            </div>
            <div class="card-footer text-center">
                <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-warning d-flex justify-content-center align-items-center flex-fill mx-1" onclick="history.back()">
                        <i class="fas fa-arrow-left"></i> Back
                    </button>
                    
                    @if (Model.IsAuthor)
                    {
                        <form asp-controller="Accessories" asp-action="Delete" method="post" class="d-flex justify-content-center align-items-center flex-fill mx-1">
                            <input type="hidden" name="id" value="@Model.Id" />
                            <button type="submit" class="btn btn-danger w-100">
                                <i class="fas fa-trash"></i> Delete
                            </button>
                        </form>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
